<div class="wrapper">
  <div class="container">
    <div class="banner-content">
      <div class="title">
        <h1>Shine Bright</h1>
      </div>
      <div class="subtitle">
        <h3>among the dim compitition. Ensure you have a website that shines.</h3>
      </div>
    </div>
  </div>
  <div class="intro-box">
    <p>Hello, my name is Brett. I bring to life scalable and reactive websites. If youd like to know more about me, check out the About section and see what I am up to in Projects. Enjoy! </p>
  </div>
  <div class="icons">
    <h3>Languages</h3>
    <ul>
      <li><p>Ruby</p>
        <%= image_tag("ruby.png", size: "50x50", :alt => "ruby") %></li>
      <li><p>Rails</p>
      <%= image_tag("rails-plain-wordmark.svg", size: "50x50", :alt => "rails") %></li>
      <li><p>HTML5</p>
        <%= image_tag("html5-original-wordmark.svg", size: "50x50", :alt => "html") %></li>
      <li><p>CSS3</p>
      <%= image_tag("css3-original-wordmark.svg", size: "50x50", :alt => "css") %></li>
      <li><p>Javascript</p>
      <%= image_tag("javascript-original.svg", size: "50x50", :alt => "javascript") %></li>
      <li><p>C#</p>
      <%= image_tag("csharp-original.svg", size: "50x50", :alt => "c sharp") %></li>
      <li><p>C++</p>
      <%= image_tag("cplusplus-original.svg", size: "50x50", :alt => "c plus plus") %></li>
      <li><p>Bootstrap</p>
        <%= image_tag("bootstrap-plain-wordmark.svg", size: "50x50", :alt => "bootstrap") %></li>
      <li><p>Heroku</p>
        <%= image_tag("heroku-original-wordmark.svg", size: "50x50", :alt => "heroku") %></li>
      <li><p>Yarn</p>
        <%= image_tag("yarn-original-wordmark.svg", size: "50x50", :alt => "yarn") %></li>
      <li><p>jQuery</p>
        <%= image_tag("jquery-plain-wordmark.svg", size: "50x50", :alt => "jqueery") %></li>
    </ul>
    <h3>Databases</h3>
    <ul>
      <li><p>MySQL</p>
      <%= image_tag("mysql-original-wordmark.svg", size: "50x50", :alt => "my sql") %></li>
      <li><p>PostgreSQL</p>
      <%= image_tag("postgresql-original-wordmark.svg", size: "50x50", :alt => "postgresql") %></li>
    </ul>
    <h3>Softwares</h3>
    <ul>
      <li><p>Ubuntu</p>
      <%= image_tag("ubuntu-plain-wordmark.svg", size: "50x50", :alt => "ubuntu") %></li>
      <li><p>Sublime Text</p>
      <%= image_tag("ruby.png", size: "50x50", :alt => "sublime text") %></li>
      <li><p>Microsoft Visual Studio</p>
      <%= image_tag("visualstudio-plain.svg", size: "50x50", :alt => "visual studo") %></li>
      <li><p>Netbeans</p>
      <%= image_tag("ruby.png", size: "50x50", :alt => "netbeans") %></li>
      <li><p>Live Code</p>
      <%= image_tag("ruby.png", size: "50x50", :alt => "live code") %></li>
      <li><p>Autodesk Maya</p>
      <%= image_tag("ruby.png", size: "50x50", :alt => "maya") %></li>
      <li><p>Autodesk 3DS Max</p>
      <%= image_tag("ruby.png", size: "50x50", :alt => "3DS max") %></li>
      <li><p>Adobe Creative Suite</p>
      <%= image_tag("ruby.png", size: "50x50", :alt => "adobe creative suite") %></li>
      <li><p>Unity</p>
      <%= image_tag("ruby.png", size: "50x50", :alt => "unity") %></li>
      <li><p>Unreal Engine 4</p>
      <%= image_tag("ruby.png", size: "50x50", :alt => "unreal engine 4") %></li>
    </ul>
    <h3>Currently Learning</h3>
    <ul>
      <li><p>Node.js</p></li>
      <%= image_tag("nodejs-original.svg", size: "50x50", :alt => "node.js") %></li>
      <li><p>Angular.js</p></li>
      <%= image_tag("angularjs-original.svg", size: "50x50", :alt => "angular.js") %></li>
      <li><p>MongoDB</p>
      <%= image_tag("mongodb-plain-wordmark.svg", size: "50x50", :alt => "mongodb") %></li>
      <li><p>React</p></li>
      <%= image_tag("react-original-wordmark.svg", size: "50x50", :alt => "react") %></li>
      <li><p>Typescript</p></li>
      <%= image_tag("typescript-original.svg", size: "50x50", :alt => "typescript") %></li>
      <li><p>Python</p></li>
      <%= image_tag("python-original-wordmark.svg", size: "50x50", :alt => "python") %></li>
    </ul>
  </div>
</div>
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
